<div class="center jumbotron">
  <div class="text-center">
    <h1>ようこそ　Aozora Viewer　へ</h1>
  </div>
</div>

<h2>Aozora viewer について</h2>
<h3>
本サービスは青空文庫の作品を気軽に楽しむために作成されました。<br>
本サービスは青空文庫の作品を気軽に楽しむために作成されました。<br>
本サービスは青空文庫の作品を気軽に楽しむために作成されました。<br>
本サービスは青空文庫の作品を気軽に楽しむために作成されました。
</h3>


<a href="#" class="btn btn-primary">検索ページへ</a>

