<div class="center jumbotron">
  <div class="text-center">
    <h1>ようこそ　Aozora Viewer　へ</h1>
  </div>
</div>

<h2>Aozora viewer について</h2>
  <h3>本サービスは青空文庫の作品を気軽に楽しむために作成されました。</h3>
  <li><%= link_to '検索ページへ', books_path %></li>
  
<h2>青空文庫</h2>
  <h3>青空文庫とは著作権が消滅した作品等を無料で公開しているインターネット図書館です。</h3>
  <li><%= link_to '青空文庫へ', 'https://www.aozora.gr.jp/' %></li>
  
<h2>利用できる機能</h2>
  <h3>検索：検索ページより作品を検索することができます</h3>
  <h3>お気に入り登録：お気に入りの作品を登録することができます</h3>
  <!--<h3>ハイライト登録：作品の中でも気に入ったフレーズや文章を個別に保存できます</h3>-->
  <h5>※お気に入り登録はユーザ登録が必要になります</5>
  <li><%= link_to 'ユーザー登録ページへ', signup_path %></li>